<!DOCTYPE html>
<html>
<head>
  <title>LernRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>Alles nur ein Test (Application.html.erb)</p>
<hr>

<% flash.each do |name,message| %>
<p><i><%= "#{name}: #{message}"%></i></p>
<%end%>
<p><%= flash[:notice]%></p>

<%= yield %>

</body>
</html>
